Merging Data using Pandas

In [1]:
import numpy as np 
import pandas as pd

In [2]:
dict1={'A': [1,2,3], 'B': [4,5,6]}
dummy1= pd.DataFrame(dict1, index= [0,1,2])
dummy1

   A  B
0  1  4
1  2  5
2  3  6

In [3]:
dict2={'A': [7,8,9], 'B': [10,11,12]}
dummy2= pd.DataFrame(dict2, index= [3,4,5])
dummy2

   A   B
3  7  10
4  8  11
5  9  12

In [4]:
dict3={'A': [13,14,15], 'B': [16,17,18]}
dummy3= pd.DataFrame(dict2, index= [6,7,8])
dummy3

   A   B
6  7  10
7  8  11
8  9  12

Concatenating row wise

In [32]:
con_cat= pd.concat([dummy1, dummy2, dummy3], keys= ['x','y','z'])
con_cat

     A   B
x 0  1   4
  1  2   5
  2  3   6
y 3  7  10
  4  8  11
  5  9  12
z 6  7  10
  7  8  11
  8  9  12

Concatenating column wise

In [33]:
con_cat_col= pd.concat([dummy1, dummy2, dummy3], axis=1)    # By default does the outer join, as there is no data loss in this outer join
con_cat_col

     A    B    A     B    A     B
0  1.0  4.0  NaN   NaN  NaN   NaN
1  2.0  5.0  NaN   NaN  NaN   NaN
2  3.0  6.0  NaN   NaN  NaN   NaN
3  NaN  NaN  7.0  10.0  NaN   NaN
4  NaN  NaN  8.0  11.0  NaN   NaN
5  NaN  NaN  9.0  12.0  NaN   NaN
6  NaN  NaN  NaN   NaN  7.0  10.0
7  NaN  NaN  NaN   NaN  8.0  11.0
8  NaN  NaN  NaN   NaN  9.0  12.0

In [34]:
# Creating new dummy variable
dict4={'A': [13,14,15], 'B': [16,17,18]}
dummy4= pd.DataFrame(dict2, index= [0,1,7])
dummy4

   A   B
0  7  10
1  8  11
7  9  12

In [8]:
con_cat_col= pd.concat([dummy1,dummy4], axis=1, join='inner')    # inner join takes the intersection between the data frames passed
con_cat_col     # here only row indices 0 and 1 are common between dummy1 and dummy4

   A  B  A   B
0  1  4  7  10
1  2  5  8  11

merge()

Creating new Data Frames

In [37]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 6, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]}, index= [4,5,6,7])

In [38]:
df1

  lkey  value
0  foo      1
1  bar      2
2  baz      6
3  foo      5

In [39]:
df2

  rkey  value
4  foo      5
5  bar      6
6  baz      7
7  foo      8

how='outer'

In [40]:
merged= pd.merge(df1,df2, on='value', how='outer')
merged

  lkey  value rkey
0  foo      1  NaN
1  bar      2  NaN
2  baz      6  bar
3  foo      5  foo
4  NaN      7  baz
5  NaN      8  foo

how='inner'

In [41]:
merged=pd.merge(df1,df2, on='value', how='inner')
merged

  lkey  value rkey
0  baz      6  bar
1  foo      5  foo

how='right'

In [42]:
merged= pd.merge(df1,df2, on='value', how='right')
merged

  lkey  value rkey
0  foo      5  foo
1  baz      6  bar
2  NaN      7  baz
3  NaN      8  foo

how='left'

In [43]:
merged= pd.merge(df1,df2, on='value', how='left')
merged

  lkey  value rkey
0  foo      1  NaN
1  bar      2  NaN
2  baz      6  bar
3  foo      5  foo