* LabelEncoder
* OrdinalEncoder
* OneHotEncoder

In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv('D:\Datasets\diabetes_csv.csv')

In [3]:
df.head()

   preg  plas  pres  skin  insu  mass   pedi  age            class
0     6   148    72    35     0  33.6  0.627   50  tested_positive
1     1    85    66    29     0  26.6  0.351   31  tested_negative
2     8   183    64     0     0  23.3  0.672   32  tested_positive
3     1    89    66    23    94  28.1  0.167   21  tested_negative
4     0   137    40    35   168  43.1  2.288   33  tested_positive

In [5]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [7]:
labels_encoded= encoder.fit_transform(df['class'])

In [8]:
df['labels_encoded'] = labels_encoded

In [9]:
df.head()

,preg,plas,pres,skin,insu,mass,pedi,age,class,labels_encoded
0,6,148,72,35,0,33.6,0.627,50,tested_positive,1
1,1,85,66,29,0,26.6,0.351,31,tested_negative,0
2,8,183,64,0,0,23.3,0.672,32,tested_positive,1
3,1,89,66,23,94,28.1,0.167,21,tested_negative,0
4,0,137,40,35,168,43.1,2.288,33,tested_positive,1

In [4]:
from sklearn.preprocessing import OrdinalEncoder

In [8]:
ordinal = OrdinalEncoder()

In [15]:
df_cat = df[['class']]

In [16]:
encoded_df = ordinal.fit_transform(df_cat)

In [17]:
encoded_df[:5]

array([[1.],
       [0.],
       [1.],
       [0.],
       [1.]])

In [18]:
df['encoded_class'] = encoded_df

In [31]:
df.rename(columns= {'encoded_class':'Ordinal'}, inplace= True)

In [32]:
df[:5]

,preg,plas,pres,skin,insu,mass,pedi,age,class,Ordinal,one hot
0,6,148,72,35,0,33.6,0.627,50,tested_positive,1.0,"(0, 1)\t1.0\n (1, 0)\t1.0\n (2, 1)\t1.0\n ..."
1,1,85,66,29,0,26.6,0.351,31,tested_negative,0.0,"(0, 1)\t1.0\n (1, 0)\t1.0\n (2, 1)\t1.0\n ..."
2,8,183,64,0,0,23.3,0.672,32,tested_positive,1.0,"(0, 1)\t1.0\n (1, 0)\t1.0\n (2, 1)\t1.0\n ..."
3,1,89,66,23,94,28.1,0.167,21,tested_negative,0.0,"(0, 1)\t1.0\n (1, 0)\t1.0\n (2, 1)\t1.0\n ..."
4,0,137,40,35,168,43.1,2.288,33,tested_positive,1.0,"(0, 1)\t1.0\n (1, 0)\t1.0\n (2, 1)\t1.0\n ..."

In [20]:
from sklearn.preprocessing import OneHotEncoder

In [21]:
encoder = OneHotEncoder()

In [22]:
transformed = encoder.fit_transform(df_cat)

In [23]:
transformed[:5]

<5x2 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [35]:
transformed.reshape(-1,1).toarray()

array([[0.],
       [1.],
       [1.],
       ...,
       [1.],
       [1.],
       [0.]])

In [36]:
df['one hot'] = transformed

In [37]:
df[:5]

,preg,plas,pres,skin,insu,mass,pedi,age,class,Ordinal,one hot
0,6,148,72,35,0,33.6,0.627,50,tested_positive,1.0,"(0, 1)\t1.0\n (1, 0)\t1.0\n (2, 1)\t1.0\n ..."
1,1,85,66,29,0,26.6,0.351,31,tested_negative,0.0,"(0, 1)\t1.0\n (1, 0)\t1.0\n (2, 1)\t1.0\n ..."
2,8,183,64,0,0,23.3,0.672,32,tested_positive,1.0,"(0, 1)\t1.0\n (1, 0)\t1.0\n (2, 1)\t1.0\n ..."
3,1,89,66,23,94,28.1,0.167,21,tested_negative,0.0,"(0, 1)\t1.0\n (1, 0)\t1.0\n (2, 1)\t1.0\n ..."
4,0,137,40,35,168,43.1,2.288,33,tested_positive,1.0,"(0, 1)\t1.0\n (1, 0)\t1.0\n (2, 1)\t1.0\n ..."

# ANOTHER DATASET

In [10]:
car = pd.read_csv('D:\Datasets\car features.csv')

In [12]:
car[:2]

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650

In [33]:
car['Engine Fuel Type'].value_counts()

regular unleaded                                7172
premium unleaded (required)                     2009
premium unleaded (recommended)                  1523
flex-fuel (unleaded/E85)                         899
diesel                                           154
electric                                          66
flex-fuel (premium unleaded required/E85)         54
flex-fuel (premium unleaded recommended/E85)      26
flex-fuel (unleaded/natural gas)                   6
natural gas                                        2
Name: Engine Fuel Type, dtype: int64

In [43]:
car['Engine Fuel Type'].dropna(axis=0, how='all', inplace= True)
car['Engine Fuel Type'].isna().sum()

0

In [44]:
car['Engine Fuel Type'].isna().sum()

0

In [45]:
from sklearn.preprocessing import OrdinalEncoder
ordinal = OrdinalEncoder()

In [50]:
encoded = ordinal.fit_transform(car[['Transmission Type']])

In [55]:
car['manual'] = encoded

In [57]:
car['manual'].value_counts()

1.0    8266
3.0    2935
0.0     626
2.0      68
4.0      19
Name: manual, dtype: int64

In [71]:
from sklearn.preprocessing import OrdinalEncoder
onehot= OrdinalEncoder()

In [72]:
onehot_e = onehot.fit_transform(car[['Transmission Type']])

In [73]:
car['onehot'] = onehot_e

In [74]:
car['onehot'].value_counts()

1.0    8266
3.0    2935
0.0     626
2.0      68
4.0      19
Name: onehot, dtype: int64

In [78]:
onehot.categories_

[array(['AUTOMATED_MANUAL', 'AUTOMATIC', 'DIRECT_DRIVE', 'MANUAL',
        'UNKNOWN'], dtype=object)]

In [75]:
car[:2]

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP,manual,onehot
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135,3.0,3.0
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650,3.0,3.0

In [70]:
car['Transmission Type'].value_counts()

AUTOMATIC           8266
MANUAL              2935
AUTOMATED_MANUAL     626
DIRECT_DRIVE          68
UNKNOWN               19
Name: Transmission Type, dtype: int64

In [80]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
vs_le = le.fit_transform(car['Vehicle Style'])

In [82]:
car['Vehicle Style'].value_counts()

Sedan                  3048
4dr SUV                2488
Coupe                  1211
Convertible             793
4dr Hatchback           702
Crew Cab Pickup         681
Extended Cab Pickup     623
Wagon                   592
2dr Hatchback           506
Passenger Minivan       417
Regular Cab Pickup      392
2dr SUV                 138
Passenger Van           128
Cargo Van                95
Cargo Minivan            71
Convertible SUV          29
Name: Vehicle Style, dtype: int64

In [84]:
car['vs_le'] = vs_le
car[:2]

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP,manual,onehot,vs_le
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135,3.0,3.0,8
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650,3.0,3.0,6