In [2]:
import numpy as np
import pandas as pd

In [8]:
df= pd.read_csv("D:\\Datasets\\test.csv")
df.head()

copy = df.copy

In [9]:
df.shape

(5681, 11)

In [10]:
df.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
5676,FDB58,10.5,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.6,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.0,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.3,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.5,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [11]:
# Access all column names
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type'],
      dtype='object')

In [12]:
# Access particular column
df['Item_Weight']
df.Item_Weight

0       20.750
1        8.300
2       14.600
3        7.315
4          NaN
         ...
5676    10.500
5677     7.600
5678    10.000
5679    15.300
5680     9.500
Name: Item_Weight, Length: 5681, dtype: float64

In [13]:
# Access multiple columns
df[['Item_Weight', 'Outlet_Establishment_Year', 'Outlet_Size']].head().sum()

Item_Weight                    50.965
Outlet_Establishment_Year    9996.000
dtype: float64

In [14]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [145]:
# Selecting rows by using psoitions
df.iloc[0]

Item_Identifier                          FDA15
Item_Weight                                9.3
Item_Fat_Content                       Low Fat
Item_Visibility                      0.0160473
Item_Type                                Dairy
Item_MRP                               249.809
Outlet_Identifier                       OUT049
Outlet_Establishment_Year                 1999
Outlet_Size                             Medium
Outlet_Location_Type                    Tier 1
Outlet_Type                  Supermarket Type1
Item_Outlet_Sales                      3735.14
Name: 0, dtype: object

In [177]:
data2=df[df['Item_Weight'] == 9.30 ].head()
data2.head()
data3= data2['Item_Visibility'].round(4)
something= pd.DataFrame(data3)
something

     Item_Visibility
0             0.0160
138           0.0432
831           0.0161
970           0.1746
979           0.0671

In [181]:
something.loc[831]= 0.0432
something

     Item_Visibility
0             0.0160
138           0.0432
831           0.0432
970           0.1746
979           0.0671

In [182]:
data4= something[something['Item_Visibility'] == 0.0432]
data4.head()

     Item_Visibility
138           0.0432
831           0.0432

In [153]:
new= data2[data2['Item_MRP'] == 249.8092]
new

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138

In [187]:
copy['Item_Weight'].iloc[0]= 9.4
copy.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.40,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [195]:
df['Item_Weight'].sum()

90774.97499999999

In [205]:
df['Item_Weight'].mean()

12.857645184135976

In [197]:
df['Item_Weight'].cumsum().head()

0     9.30
1    15.22
2    32.72
3    51.92
4    60.85
Name: Item_Weight, dtype: float64

In [202]:
print(df['Item_Weight'].count())     # PANel DAta
print(df.shape)

7060
(8523, 12)

In [209]:
print(df['Item_Weight'].describe())
print()
print(df.describe())

count    7060.000000
mean       12.857645
std         4.643456
min         4.555000
25%         8.773750
50%        12.600000
75%        16.850000
max        21.350000
Name: Item_Weight, dtype: float64

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year  \
count  7060.000000      8523.000000  8523.000000                8523.000000
mean     12.857645         0.066132   140.992782                1997.831867
std       4.643456         0.051598    62.275067                   8.371760
min       4.555000         0.000000    31.290000                1985.000000
25%       8.773750         0.026989    93.826500                1987.000000
50%      12.600000         0.053931   143.012800                1999.000000
75%      16.850000         0.094585   185.643700                2004.000000
max      21.350000         0.328391   266.888400                2009.000000

       Item_Outlet_Sales
count        8523.000000
mean         2181.288914
std          1706.499616
min            33.290000
25%           834.247400
50%          1794.331000
75%          3101.296400
max         13086.964800

In [210]:
df['Item_Weight'].min()

4.555

In [211]:
df['Item_Weight'].max()

21.35

In [212]:
df['Item_Weight'].median()

12.6

In [217]:
df['Item_Weight'].mode()
print(df.Item_Fat_Content.unique())
print(df['Item_Fat_Content'].mode())

['Low Fat' 'Regular' 'low fat' 'LF' 'reg']
0    Low Fat
dtype: object

In [218]:
df['Item_Weight'].std()

4.643456499186415

In [220]:
df.cov()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
Item_Weight,21.561688,-0.003172,7.865693,-0.354551,1.005608e+02
Item_Visibility,-0.003172,0.002662,-0.004225,-0.032325,-1.132561e+01
Item_MRP,7.865693,-0.004225,3878.183909,2.617143,6.031749e+04
Outlet_Establishment_Year,-0.354551,-0.032325,2.617143,70.086372,-7.019621e+02
Item_Outlet_Sales,100.560811,-11.325611,60317.485612,-701.962133,2.912141e+06

In [221]:
df.corr()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
Item_Weight,1.000000,-0.014048,0.027141,-0.011588,0.014123
Item_Visibility,-0.014048,1.000000,-0.001315,-0.074834,-0.128625
Item_MRP,0.027141,-0.001315,1.000000,0.005020,0.567574
Outlet_Establishment_Year,-0.011588,-0.074834,0.005020,1.000000,-0.049135
Item_Outlet_Sales,0.014123,-0.128625,0.567574,-0.049135,1.000000

In [222]:
df['Item_Weight'].kurt()

-1.2277664144376634

In [224]:
df.skew()

Item_Weight                  0.082426
Item_Visibility              1.167091
Item_MRP                     0.127202
Outlet_Establishment_Year   -0.396641
Item_Outlet_Sales            1.177531
dtype: float64

In [225]:
df.var()

Item_Weight                  2.156169e+01
Item_Visibility              2.662335e-03
Item_MRP                     3.878184e+03
Outlet_Establishment_Year    7.008637e+01
Item_Outlet_Sales            2.912141e+06
dtype: float64