Data Manipulation in Pandas

1. Renaming columns

2. Sorting Data

3. Binning

4. Handling missing values

5. Apply methods in Pandas

6. Aggregation of Data Using Pandas

7. Merging data using Pandas

Column Names are called as labels..

In [12]:
import numpy as np
import pandas as pd

In [13]:
data={'Title':[None, 'Robinson Crusoe', 'Moby Dick'],
     'Author':['sa', 'Daniel Defoe', 'Herman Melville']}

df = pd.DataFrame(data)
df.dropna(how='all', inplace= True)
df

             Title           Author
0             None               sa
1  Robinson Crusoe     Daniel Defoe
2        Moby Dick  Herman Melville

In [14]:
df

             Title           Author
0             None               sa
1  Robinson Crusoe     Daniel Defoe
2        Moby Dick  Herman Melville

Renaming columns using pandas

In [15]:
df.columns=['TITLE', 'AUTHOR']         #Changing the keys of the column
print(df)

             TITLE           AUTHOR
0             None               sa
1  Robinson Crusoe     Daniel Defoe
2        Moby Dick  Herman Melville

In [16]:
# other method of renaming the column labels
df.rename(columns={'TITLE':'Book Name', 'AUTHOR':'Writer'})       # It is a dictionary
df['New Col'] = [1,2,3]      # new column created
df

             TITLE           AUTHOR  New Col
0             None               sa        1
1  Robinson Crusoe     Daniel Defoe        2
2        Moby Dick  Herman Melville        3

Sorting using Pandas

In [17]:
import pandas as pd

In [18]:
df= pd.read_csv('D:\\Datasets\\bigmart_data.csv') 
df.head()

     Row Labels  Average of Item_Weight
0  Baking Goods               12.277108
1        Breads               11.346936
2     Breakfast               12.768202
3        Canned               12.305705
4         Dairy               13.426069

In [19]:
df= pd.read_csv('D:\\Datasets\\bigmart_data.csv')   
df.dropna(how='all')    # this can be used for substitute for head() method in Pandas library

               Row Labels  Average of Item_Weight
0            Baking Goods               12.277108
1                  Breads               11.346936
2               Breakfast               12.768202
3                  Canned               12.305705
4                   Dairy               13.426069
5            Frozen Foods               12.867061
6   Fruits and Vegetables               13.224769
7             Hard Drinks               11.400328
8      Health and Hygiene               13.142314
9               Household               13.384736
10                   Meat               12.817344
11                 Others               13.853285
12                Seafood               12.552843
13            Snack Foods               12.987880
14            Soft Drinks               11.847460
15          Starchy Foods               13.690731
16            Grand Total               12.857645

Two methods in pandas:

1. sort_values():- to sort DataFrame by one or more columns

2. sort_index():- to sort DataFrame by row indices

In [20]:
# Ascending Order
sort_df= df.sort_values(by=['Outlet_Establishment_Year'], ascending= True, inplace= False)     # sort_values(by=['column_name'], ascending= True/False, inplace= True/False) inplace if true it changes the original dataFrame into sorted DataFrame
sort_df

KeyError: 'Outlet_Establishment_Year'

In [8]:
# Descending Order
df.sort_values(by=['Outlet_Establishment_Year'], ascending= False, inplace= True)
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
5371,FDC11,20.500,Low Fat,0.142370,Starchy Foods,90.6172,OUT018,2009,Medium,Tier 3,Supermarket Type2,1427.4752
6389,FDR07,21.350,Low Fat,0.078061,Fruits and Vegetables,96.0094,OUT018,2009,Medium,Tier 3,Supermarket Type2,380.8376
2064,FDG50,7.405,Low Fat,0.015334,Canned,92.7146,OUT018,2009,Medium,Tier 3,Supermarket Type2,1185.7898
3839,DRI37,15.850,Low Fat,0.108036,Soft Drinks,57.3904,OUT018,2009,Medium,Tier 3,Supermarket Type2,703.0848
6392,FDO52,11.600,Regular,0.077479,Frozen Foods,170.3106,OUT018,2009,Medium,Tier 3,Supermarket Type2,4277.7650
...,...,...,...,...,...,...,...,...,...,...,...,...
5065,FDR09,NaN,Low Fat,0.077348,Snack Foods,259.7962,OUT027,1985,Medium,Tier 3,Supermarket Type3,8028.8822
3320,FDU32,NaN,Low Fat,0.025842,Fruits and Vegetables,120.7414,OUT027,1985,Medium,Tier 3,Supermarket Type3,4386.2904
6980,FDO46,NaN,Regular,0.014144,Snack Foods,187.3872,OUT027,1985,Medium,Tier 3,Supermarket Type3,2836.3080
6979,NCK17,NaN,Low Fat,0.000000,Health and Hygiene,40.3480,OUT019,1985,Small,Tier 1,Grocery Store,79.8960
4187,FDE52,NaN,Regular,0.029742,Dairy,88.9514,OUT027,1985,Medium,Tier 3,Supermarket Type3,3453.5046

In [9]:
#sort_index() method sorts the dataFrame based on the index values of the DataFramem
df.sort_index(ascending= False, inplace= True)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834

In [10]:
#Sorting Mutliple columns
multi=df.sort_values(by=['Outlet_Establishment_Year', 'Item_Weight'], ascending= True)
multi.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
6705,FDA45,21.25,Low Fat,0.156013,Snack Foods,177.3370,OUT018,2009,Medium,Tier 3,Supermarket Type2,2822.9920
3632,FDT03,21.25,Low Fat,0.010039,Meat,181.7608,OUT018,2009,Medium,Tier 3,Supermarket Type2,1102.5648
934,FDQ21,21.25,Low Fat,0.019502,Snack Foods,120.8756,OUT018,2009,Medium,Tier 3,Supermarket Type2,3150.5656
6389,FDR07,21.35,Low Fat,0.078061,Fruits and Vegetables,96.0094,OUT018,2009,Medium,Tier 3,Supermarket Type2,380.8376
43,FDC02,21.35,Low Fat,0.069103,Canned,259.9278,OUT018,2009,Medium,Tier 3,Supermarket Type2,6768.5228

In [11]:
print(type('Outlet_Location_Type'))
print(df['Outlet_Location_Type'].unique())
multi.sort_values(by=['Outlet_Location_Type'], inplace= True)
multi.head()

<class 'str'>
['Tier 1' 'Tier 3' 'Tier 2']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3352,FDZ51,11.3,Regular,0.054638,Meat,93.3094,OUT049,1999,Medium,Tier 1,Supermarket Type1,3046.7008
3158,FDU12,15.5,Regular,0.075751,Baking Goods,262.8568,OUT046,1997,Small,Tier 1,Supermarket Type1,5800.4496
7577,FDC44,15.6,Low Fat,0.172597,Fruits and Vegetables,114.8518,OUT046,1997,Small,Tier 1,Supermarket Type1,2163.1842
7150,FDM33,15.6,Low Fat,0.087720,Snack Foods,218.5798,OUT046,1997,Small,Tier 1,Supermarket Type1,4407.5960
6812,NCM55,15.6,Low Fat,0.066726,Others,185.8924,OUT046,1997,Small,Tier 1,Supermarket Type1,3516.7556

Binning/ Discretization Using Pandas

In [12]:
import pandas as pd
data={'Title':['The Hobbit', 'Robinson Crusoe', 'Moby Dick'],
    'Author':['J.R.R. Tolkien', 'Daniel Defoe', 'Herman Melville']}
df= pd.DataFrame(data)
df

             Title           Author
0       The Hobbit   J.R.R. Tolkien
1  Robinson Crusoe     Daniel Defoe
2        Moby Dick  Herman Melville

In [13]:
df['new_col'] = [3,13,29]         # Created a new column named new_col and assigned values as 10,20,30
df['bins'] = pd.cut(x=df['new_col'], bins = [0,10,20,30])    # df['new_bin_column_name']=pd.cut(x=df['column_to_be_binned'], bins=[range of values])
df

             Title           Author  new_col      bins
0       The Hobbit   J.R.R. Tolkien        3   (0, 10]
1  Robinson Crusoe     Daniel Defoe       13  (10, 20]
2        Moby Dick  Herman Melville       29  (20, 30]

In [14]:
df['bins'].unique()
df.rename(columns={'new_col': 'Age'}, inplace= True)
df

             Title           Author  Age      bins
0       The Hobbit   J.R.R. Tolkien    3   (0, 10]
1  Robinson Crusoe     Daniel Defoe   13  (10, 20]
2        Moby Dick  Herman Melville   29  (20, 30]

In [15]:
# Create New Column of of decade With Labels 10s, 20s, and 30s
df['decade']= pd.cut(x=df['Age'], bins=[0,10,20,30], labels=['10s', '20s', '30s'])
df

             Title           Author  Age      bins decade
0       The Hobbit   J.R.R. Tolkien    3   (0, 10]    10s
1  Robinson Crusoe     Daniel Defoe   13  (10, 20]    20s
2        Moby Dick  Herman Melville   29  (20, 30]    30s

Handling Missing values in Pandas DataFrame

In [16]:
import pandas as pd
import numpy as np

fillna() method helps to fill missing data values in a DataFrame.

YOu can fill this mean/median/mode of the column.

df.isna().sum()

In [17]:
df.head()

             Title           Author  Age      bins decade
0       The Hobbit   J.R.R. Tolkien    3   (0, 10]    10s
1  Robinson Crusoe     Daniel Defoe   13  (10, 20]    20s
2        Moby Dick  Herman Melville   29  (20, 30]    30s

In [18]:
df=pd.read_csv('D:\\Datasets\\bigmart_data.csv')
null=df.isna().sum()    # NA / NaN/ NULL
print(null)  
print(null.sum())
df.isna().head()          # we have 1463 na values in Item_Weight column and 2410 NA values in outlet_Size column

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64
3873

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False

In [19]:
# we calculate the percantage of NA values in DataSet
print(df.shape)
total= np.product(df.shape)
print(total)
missing= null.sum()
percentage_NA= (missing/total)*100
print("The percentage of NA values in the DataSet given:", percentage_NA)       # There is 3.78% of NA values in the Dataset provided

(8523, 12)
102276
The percentage of NA values in the DataSet given: 3.786812155344362

In [20]:
print(df['Item_Fat_Content'].dtype)
df['Item_Weight'].dtype

object

dtype('float64')

In [21]:
#Fill the NA values with mean of the Dataset
mean_weight= df['Item_Weight'].mean()
Weight_mean=df['Item_Weight'].fillna(mean_weight, inplace= True)
print(df.isna().sum())

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [22]:
df['Outlet_Size'].dtype

dtype('O')

In [23]:
print(df['Outlet_Size'].unique())
find_mode= df['Outlet_Size'].mode()
print(find_mode)

['Medium' nan 'High' 'Small']
0    Medium
dtype: object

In [24]:
df['Outlet_Size'].fillna(find_mode.iloc[0], inplace= True)
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

Apply method in pandas

In [25]:
def function_name():
    print(str)
    print("hello world")
    if 2<3: print(True)

function_name()

<class 'str'>
hello world
True

 lambda functions which are also called as ananymous funciton


 lambda functions can take any number of arguments/ paramteres but return just one value in the form of an expression.


 lambda requires an expression, they have  theor own local namespace and cannot access other than those in their parameters.


    SYNTAX:-

lambda arg1, arg2 .... argn : expression

In [167]:
sum = lambda a,b : print("Add:",a+b, "\n" "Sub:", a-b)
print(sum(1,2))

Add: 3
Sub: -1
None

In [2]:
import numpy as np
import pandas as pd
import time
import calendar

In [84]:
data= pd.read_csv('D:\\Datasets\\bigmart_data.csv')
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [87]:
storage = data.groupby('Item_Type')
storage.first()
#data['Item_Type'].unique()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Type,,,,,,,,,,,
Baking Goods,FDP36,10.395,Regular,0.000000,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
Breads,FDO23,17.850,Low Fat,0.000000,93.1436,OUT045,2002,Medium,Tier 2,Supermarket Type1,2174.5028
Breakfast,FDP49,9.000,Regular,0.069089,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192
Canned,FDC14,21.350,Regular,0.072222,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
Dairy,FDA15,9.300,Low Fat,0.016047,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
Frozen Foods,FDH17,16.200,Regular,0.016687,96.9726,OUT045,2002,Small,Tier 2,Supermarket Type1,1076.5986
Fruits and Vegetables,FDX07,19.200,Regular,0.000000,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
Hard Drinks,DRI11,11.650,Low Fat,0.034238,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
Health and Hygiene,NCB42,11.800,Low Fat,0.008596,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
Household,NCD19,8.930,Low Fat,0.000000,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
Meat,FDN15,17.500,Low Fat,0.016760,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
Others,NCN07,18.500,Low Fat,0.056816,132.1284,OUT010,1998,Small,Tier 3,Grocery Store,263.6568
Seafood,FDG33,10.395,Regular,0.139561,170.4764,OUT027,1985,Medium,Tier 3,Supermarket Type3,3435.5280
Snack Foods,FDO10,13.650,Regular,0.012741,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
Soft Drinks,DRC01,5.920,Regular,0.019278,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
Starchy Foods,FDH35,18.250,Low Fat,0.000000,164.7526,OUT045,2002,Medium,Tier 2,Supermarket Type1,4604.6728

In [65]:
print("Apply method:\n")
print(data.apply(lambda x: x[0])) # We are using the apply method to access to the 1st row of the dataset, Remember by deafult the apply method takes axis=0
print("\n")

print("traditional method:\n")
print(data.iloc[0])


print("Apply method:\n")
print(data.apply(lambda x: x[0], axis=1)) # here we are using teh apply method to access to the 1st column using index and mentioning the axis=1
print("traditional method:\n")
print(data.iloc[:,0]) 
print(data.iloc[::-1])      # [:] indicates all values

Apply method:

Item_Identifier                          FDA15
Item_Weight                                9.3
Item_Fat_Content                       Low Fat
Item_Visibility                      0.0160473
Item_Type                                Dairy
Item_MRP                               249.809
Outlet_Identifier                       OUT049
Outlet_Establishment_Year                 1999
Outlet_Size                             Medium
Outlet_Location_Type                    Tier 1
Outlet_Type                  Supermarket Type1
Item_Outlet_Sales                      3735.14
dtype: object


traditional method:

Item_Identifier                          FDA15
Item_Weight                                9.3
Item_Fat_Content                       Low Fat
Item_Visibility                      0.0160473
Item_Type                                Dairy
Item_MRP                               249.809
Outlet_Identifier                       OUT049
Outlet_Establishment_Year                 1999
Outlet_Size                             Medium
Outlet_Location_Type                    Tier 1
Outlet_Type                  Supermarket Type1
Item_Outlet_Sales                      3735.14
Name: 0, dtype: object
Apply method:

0       FDA15
1       DRC01
2       FDN15
3       FDX07
4       NCD19
        ...
8518    FDF22
8519    FDS36
8520    NCJ29
8521    FDN46
8522    DRG01
Length: 8523, dtype: object
traditional method:

0       FDA15
1       DRC01
2       FDN15
3       FDX07
4       NCD19
        ...
8518    FDF22
8519    FDS36
8520    NCJ29
8521    FDN46
8522    DRG01
Name: Item_Identifier, Length: 8523, dtype: object
     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
8522           DRG01       14.800          Low Fat         0.044878
8521           FDN46        7.210          Regular         0.145221
8520           NCJ29       10.600          Low Fat         0.035186
8519           FDS36        8.380          Regular         0.046982
8518           FDF22        6.865          Low Fat         0.056783
...              ...          ...              ...              ...
4              NCD19        8.930          Low Fat         0.000000
3              FDX07       19.200          Regular         0.000000
2              FDN15       17.500          Low Fat         0.016760
1              DRC01        5.920          Regular         0.019278
0              FDA15        9.300          Low Fat         0.016047

                  Item_Type  Item_MRP Outlet_Identifier  \
8522            Soft Drinks   75.4670            OUT046
8521            Snack Foods  103.1332            OUT018
8520     Health and Hygiene   85.1224            OUT035
8519           Baking Goods  108.1570            OUT045
8518            Snack Foods  214.5218            OUT013
...                     ...       ...               ...
4                 Household   53.8614            OUT013
3     Fruits and Vegetables  182.0950            OUT010
2                      Meat  141.6180            OUT049
1               Soft Drinks   48.2692            OUT018
0                     Dairy  249.8092            OUT049

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
8522                       1997       Small               Tier 1
8521                       2009      Medium               Tier 3
8520                       2004       Small               Tier 2
8519                       2002         NaN               Tier 2
8518                       1987        High               Tier 3
...                         ...         ...                  ...
4                          1987        High               Tier 3
3                          1998         NaN               Tier 3
2                          1999      Medium               Tier 1
1                          2009      Medium               Tier 3
0                          1999      Medium               Tier 1

            Outlet_Type  Item_Outlet_Sales
8522  Supermarket Type1           765.6700
8521  Supermarket Type2          1845.5976
8520  Supermarket Type1          1193.1136
8519  Supermarket Type1           549.2850
8518  Supermarket Type1          2778.3834
...                 ...                ...
4     Supermarket Type1           994.7052
3         Grocery Store           732.3800
2     Supermarket Type1          2097.2700
1     Supermarket Type2           443.4228
0     Supermarket Type1          3735.1380

[8523 rows x 12 columns]

In [66]:
print(data.apply(lambda x: x['Item_Type'], axis = 1))   # Here we are accessing the column using column name by using a apply method.
print()
print(data['Item_Type'])

0                       Dairy
1                 Soft Drinks
2                        Meat
3       Fruits and Vegetables
4                   Household
                ...
8518              Snack Foods
8519             Baking Goods
8520       Health and Hygiene
8521              Snack Foods
8522              Soft Drinks
Length: 8523, dtype: object

0                       Dairy
1                 Soft Drinks
2                        Meat
3       Fruits and Vegetables
4                   Household
                ...
8518              Snack Foods
8519             Baking Goods
8520       Health and Hygiene
8521              Snack Foods
8522              Soft Drinks
Name: Item_Type, Length: 8523, dtype: object

In [67]:
data.apply(lambda x: x)
time.time()
time.localtime()
time.asctime()
print(calendar.calendar(2020))

                                  2020

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [68]:
# In apply() even conditions can be added to the dataset as it can iterate through all observations in the DataFrame
print("before clipping\n",data['Item_MRP'][:5])
print()
def clip(price):
  if price>200:
    price=200
  return price

#print( clip(249))
print(data['Item_MRP'].apply(lambda x: clip(x))[:5])

before clipping
 0    249.8092
1     48.2692
2    141.6180
3    182.0950
4     53.8614
Name: Item_MRP, dtype: float64

0    200.0000
1     48.2692
2    141.6180
3    182.0950
4     53.8614
Name: Item_MRP, dtype: float64

In [33]:
def clip(price):
  if price>200:
    price=200
  return price

In [75]:
for i in data.index:
    if (data['Item_MRP'].iloc[i]) > 200:
        data['Item_MRP'].iloc[i]=200
data.query('Item_MRP == 200')

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,200.0,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
19,FDU02,13.350,Low Fat,0.102492,Dairy,200.0,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
20,FDN22,18.850,Regular,0.138190,Snack Foods,200.0,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
32,FDP33,18.700,Low Fat,0.000000,Snack Foods,200.0,OUT018,2009,Medium,Tier 3,Supermarket Type2,3068.0064
40,FDU02,13.350,Low Fat,0.102512,Dairy,200.0,OUT046,1997,Small,Tier 1,Supermarket Type1,3435.5280
...,...,...,...,...,...,...,...,...,...,...,...,...
8506,DRF37,17.250,Low Fat,0.084676,Soft Drinks,200.0,OUT018,2009,Medium,Tier 3,Supermarket Type2,3944.8650
8509,FDG45,8.100,Low Fat,0.214306,Fruits and Vegetables,200.0,OUT010,1998,NaN,Tier 3,Grocery Store,424.7804
8510,FDN58,13.800,Regular,0.056862,Snack Foods,200.0,OUT035,2004,Small,Tier 2,Supermarket Type1,7182.6504
8511,FDF05,17.500,Low Fat,0.026980,Frozen Foods,200.0,OUT018,2009,Medium,Tier 3,Supermarket Type2,4207.8560
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,200.0,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834

In [76]:
# Labeling the values of the categorical data can be done in apply()
print(data['Outlet_Location_Type'].unique())
def labeling(city):
  if city == 'Tier 1':     # we have labelled tier 1 as 0
    label =  0
  elif city== 'Tier 2':   # we have labelled tier 2 as 1
    label = 1
  else:                   # we have labelled tier 3 as 2
    label = 2
  return label

print(data['Outlet_Location_Type'].apply(lambda x: labeling(x)))

['Tier 1' 'Tier 3' 'Tier 2']
0       0
1       2
2       0
3       2
4       2
       ..
8518    2
8519    1
8520    1
8521    2
8522    0
Name: Outlet_Location_Type, Length: 8523, dtype: int64

1. df.apply(lambda x: x [ 0 ]) ---> 1st row od dataframe

2. df.apply(lambda x: x [0], axis= 1) -----> 1st column of dataframe

3. df.apply(lambda x: x['Column_name'], axis=1)

4. df.apply(lambda x: function(x))

In [9]:
print(data['Outlet_Size'].unique())

['Medium' nan 'High' 'Small']

In [10]:
# Labelling Outlet_Size column
print(data['Outlet_Size'].unique())
def label_Outlet_Size(size):
  if size== 'Small':
    label=0
  elif size== 'Medium':
    label=2
  elif size== 'High':
    label=3
  else:
    label=size
  return label

labelled_osize=data['Outlet_Size'].apply(lambda x: label_Outlet_Size(x))
print(labelled_osize)
labelled_osize.isna().sum()
mean_osize= labelled_osize.mean()
print("Mean:", mean_osize)
labelled_osize.fillna(mean_osize, inplace= True)
print(labelled_osize)

['Medium' nan 'High' 'Small']
0       2.0
1       2.0
2       2.0
3       NaN
4       3.0
       ...
8518    3.0
8519    NaN
8520    0.0
8521    2.0
8522    0.0
Name: Outlet_Size, Length: 8523, dtype: float64
Mean: 1.3711761819074104
0       2.000000
1       2.000000
2       2.000000
3       1.371176
4       3.000000
          ...
8518    3.000000
8519    1.371176
8520    0.000000
8521    2.000000
8522    0.000000
Name: Outlet_Size, Length: 8523, dtype: float64

In [83]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [179]:
df.query('5 < Item_Weight < 9.30').head()
var= pd.DataFrame(df['Item_Type'])
var.head()

               Item_Type
0                  Dairy
1            Soft Drinks
2                   Meat
3  Fruits and Vegetables
4              Household

AGGREGATION OF DATA USING PANDAS

In [22]:
import pandas as pd 
import numpy as np

In [42]:
df=pd.read_csv('C:Users\\LENOVO\\Downloads\\Test.csv')
df.head()
df.dropna(how='any', inplace= True)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
5,FDH56,9.800,Regular,0.063817,Fruits and Vegetables,117.1492,OUT046,1997,Small,Tier 1,Supermarket Type1
6,FDL48,19.350,Regular,0.082602,Baking Goods,50.1034,OUT018,2009,Medium,Tier 3,Supermarket Type2
13,FDU11,4.785,Low Fat,0.092738,Breads,122.3098,OUT049,1999,Medium,Tier 1,Supermarket Type1
14,DRL59,16.750,LF,0.021206,Hard Drinks,52.0298,OUT013,1987,High,Tier 3,Supermarket Type1

In [30]:
df= df.reset_index(drop=True)
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

Query:- What's the mean price for each of the Item type???

hint:- here price is  the Item_MRP column...

In [41]:
var = df.groupby('Item_Type')
print(type(var))
var

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [32]:
var['Item_MRP'].mean()

Item_Type
Baking Goods             129.157803
Breads                   139.191904
Breakfast                139.022248
Canned                   138.378773
Dairy                    142.332602
Frozen Foods             131.233022
Fruits and Vegetables    143.377461
Hard Drinks              132.486077
Health and Hygiene       136.405953
Household                147.688873
Meat                     141.533681
Others                   130.825708
Seafood                  130.081776
Snack Foods              144.789637
Soft Drinks              142.276118
Starchy Foods            147.547571
Name: Item_MRP, dtype: float64

In [34]:
multi = df.groupby(['Item_Type', 'Item_Fat_Content'])
multi.first()

                               Item_Identifier  Item_Weight  Item_Visibility  \
Item_Type     Item_Fat_Content
Baking Goods  LF                         FDR60       14.300         0.130618
              Low Fat                    FDX24        8.355         0.013917
              Regular                    FDL48       19.350         0.082602
              low fat                    FDT60       12.000         0.075666
              reg                        FDG12        6.635         0.006326
...                                        ...          ...              ...
Soft Drinks   low fat                    DRN36       15.200         0.050256
              reg                        DRY23        9.395         0.109006
Starchy Foods LF                         FDC35        7.435         0.122814
              Low Fat                    FDI35       14.000         0.041257
              Regular                    FDB23       19.200         0.005589

                                Item_MRP Outlet_Identifier  \
Item_Type     Item_Fat_Content
Baking Goods  LF                 76.5328            OUT049
              Low Fat            92.5462            OUT013
              Regular            50.1034            OUT018
              low fat           125.8388            OUT049
              reg               122.1098            OUT046
...                                  ...               ...
Soft Drinks   low fat            97.3752            OUT049
              reg                43.3112            OUT013
Starchy Foods LF                207.5638            OUT035
              Low Fat           181.2634            OUT013
              Regular           225.5062            OUT046

                                Outlet_Establishment_Year Outlet_Size  \
Item_Type     Item_Fat_Content
Baking Goods  LF                                     1999      Medium
              Low Fat                                1987        High
              Regular                                2009      Medium
              low fat                                1999      Medium
              reg                                    1997       Small
...                                                   ...         ...
Soft Drinks   low fat                                1999      Medium
              reg                                    1987        High
Starchy Foods LF                                     2004       Small
              Low Fat                                1987        High
              Regular                                1997       Small

                               Outlet_Location_Type        Outlet_Type
Item_Type     Item_Fat_Content
Baking Goods  LF                             Tier 1  Supermarket Type1
              Low Fat                        Tier 3  Supermarket Type1
              Regular                        Tier 3  Supermarket Type2
              low fat                        Tier 1  Supermarket Type1
              reg                            Tier 1  Supermarket Type1
...                                             ...                ...
Soft Drinks   low fat                        Tier 1  Supermarket Type1
              reg                            Tier 3  Supermarket Type1
Starchy Foods LF                             Tier 2  Supermarket Type1
              Low Fat                        Tier 3  Supermarket Type1
              Regular                        Tier 1  Supermarket Type1

[63 rows x 9 columns]

In [35]:
print(multi.Item_MRP.mean())

Item_Type      Item_Fat_Content
Baking Goods   LF                  114.190240
               Low Fat             125.905590
               Regular             131.262254
               low fat             125.838800
               reg                 165.617533
                                      ...
Soft Drinks    low fat             161.444120
               reg                 113.651800
Starchy Foods  LF                  164.453900
               Low Fat             159.965476
               Regular             126.994442
Name: Item_MRP, Length: 63, dtype: float64

crosstab()

it gives us the frequency table of 2 columns.

In [36]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDH56,9.800,Regular,0.063817,Fruits and Vegetables,117.1492,OUT046,1997,Small,Tier 1,Supermarket Type1
2,FDL48,19.350,Regular,0.082602,Baking Goods,50.1034,OUT018,2009,Medium,Tier 3,Supermarket Type2
3,FDU11,4.785,Low Fat,0.092738,Breads,122.3098,OUT049,1999,Medium,Tier 1,Supermarket Type1
4,DRL59,16.750,LF,0.021206,Hard Drinks,52.0298,OUT013,1987,High,Tier 3,Supermarket Type1

In [13]:
print(df.Outlet_Location_Type.unique())
print(df.Outlet_Size.unique())
df.Outlet_Location_Type.count()

['Tier 1' 'Tier 3' 'Tier 2']
['Medium' 'High' 'Small']

4650

In [34]:
sorted= df.sort_values(by= 'Outlet_Establishment_Year')
df['Outlet_Establishment_Year'].unique()

array([1999, 2009, 1987, 1997, 2004], dtype=int64)

In [52]:
sort= sorted.query('Outlet_Establishment_Year == 1997')
sort['Outlet_Size'].unique()

array(['Small'], dtype=object)

In [38]:
pd.crosstab(df['Outlet_Size'], df['Outlet_Location_Type'], margins = True)

Outlet_Location_Type  Tier 1  Tier 2  Tier 3   All
Outlet_Size
High                       0       0     621   621
Medium                   620       0     618  1238
Small                    620     620       0  1240
All                     1240     620    1239  3099

From this we can make sure that Outlet_Loaction_Type is expected to affect the values of Outlet_Size. 

Inferences which can be made using this tablation table:-

-> The highest sized outlets are present only in Tier 3 part of the city

-> The medium sized outlets are present in Tier 1 and Tier 3 parts of the city

-> The small sized outlets are present in Tier 1 and Tier 2 parts of the city


Other inferences which can be made from this tabulation table are:

-> The highest sized outlets are present only in Tier 3

-> ~50% of the medium sized outlets are present in either Tier 1 or Tier 3

-> 50% of the small sized outlets are presetn in either Tier 1 or Tier 2

In [39]:
pd.crosstab(df['Item_Type'], df['Outlet_Type'], margins = True)

Outlet_Type            Supermarket Type1  Supermarket Type2   All
Item_Type
Baking Goods                         192                 51   243
Breads                                74                 18    92
Breakfast                             34                  8    42
Canned                               192                 41   233
Dairy                                189                 51   240
Frozen Foods                         234                 62   296
Fruits and Vegetables                343                 84   427
Hard Drinks                           64                 17    81
Health and Hygiene                   158                 34   192
Household                            271                 73   344
Meat                                 143                 32   175
Others                                49                 10    59
Seafood                               14                  3    17
Snack Foods                          350                 87   437
Soft Drinks                          124                 34   158
Starchy Foods                         50                 13    63
All                                 2481                618  3099

Inferences which can be made using this tabulation column:-

-> Firstly, Supermarket Type1 is taking 3722 items as compared to Supermarket Type2

-> Out of 351 Baking Goods, 283 items are sent to Supermarket Type1 and only 68 are sent to Supermarket Type2

Pivot Table

In [45]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
5,FDH56,9.800,Regular,0.063817,Fruits and Vegetables,117.1492,OUT046,1997,Small,Tier 1,Supermarket Type1
6,FDL48,19.350,Regular,0.082602,Baking Goods,50.1034,OUT018,2009,Medium,Tier 3,Supermarket Type2
13,FDU11,4.785,Low Fat,0.092738,Breads,122.3098,OUT049,1999,Medium,Tier 1,Supermarket Type1
14,DRL59,16.750,LF,0.021206,Hard Drinks,52.0298,OUT013,1987,High,Tier 3,Supermarket Type1
...,...,...,...,...,...,...,...,...,...,...,...
5673,FDF46,7.070,Low Fat,0.094053,Snack Foods,116.0834,OUT018,2009,Medium,Tier 3,Supermarket Type2
5674,DRL35,15.700,Low Fat,0.030704,Hard Drinks,43.2770,OUT046,1997,Small,Tier 1,Supermarket Type1
5675,FDW46,13.000,Regular,0.070411,Snack Foods,63.4484,OUT049,1999,Medium,Tier 1,Supermarket Type1
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2

In [47]:
pd.pivot_table(df, index= ['Outlet_Establishment_Year'], values= 'Item_Weight')

                           Item_Weight
Outlet_Establishment_Year
1987                         12.460950
1997                         12.733081
1999                         12.631339
2004                         12.767145
2009                         12.698964

In [48]:
pd.pivot_table(df, index= ['Outlet_Establishment_Year'], values= ['Item_Weight'], aggfunc= [np.mean, np.median, min, max, np.std])

,mean,median,min,max,std
,Item_Weight,Item_Weight,Item_Weight,Item_Weight,Item_Weight
Outlet_Establishment_Year,,,,,
1987,12.460950,12.150,4.610,21.35,4.609628
1997,12.733081,12.500,4.615,21.35,4.557932
1999,12.631339,12.325,4.615,21.35,4.699540
2004,12.767145,12.600,4.805,21.35,4.630043
2009,12.698964,12.425,4.555,21.20,4.594810

In [49]:
weight_by_item = df.groupby('Item_Type')
weight_by_item.Item_Weight.mean()

Item_Type
Baking Goods             12.162202
Breads                   11.135272
Breakfast                13.537738
Canned                   12.424399
Dairy                    12.798000
Frozen Foods             12.041453
Fruits and Vegetables    13.217295
Hard Drinks              11.905247
Health and Hygiene       13.122500
Household                12.962180
Meat                     12.878257
Others                   14.084576
Seafood                  12.622941
Snack Foods              12.727277
Soft Drinks              11.638987
Starchy Foods            13.682302
Name: Item_Weight, dtype: float64