<a href="https://colab.research.google.com/github/Mithun162001/Data-Manipulation-using-pandas/blob/main/Data_Manipulation_using_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data={'Title':['The Hobbit', 'Robinson Crusoe', 'Moby Dick'],
    'Author':['J.R.R. Tolkien', 'Daniel Defoe', 'Herman Melville']}
df=pd.DataFrame(data)
df

             Title           Author
0       The Hobbit   J.R.R. Tolkien
1  Robinson Crusoe     Daniel Defoe
2        Moby Dick  Herman Melville

Renaming columns using pandas

In [3]:
df.columns=['TITLE','AUTHOR']         #Changing the keys of the column
print(df)

             TITLE           AUTHOR
0       The Hobbit   J.R.R. Tolkien
1  Robinson Crusoe     Daniel Defoe
2        Moby Dick  Herman Melville

In [4]:
df
df.rename(columns={'TITLE':'Book Name', 'AUTHOR':'Writer'})

         Book Name           Writer
0       The Hobbit   J.R.R. Tolkien
1  Robinson Crusoe     Daniel Defoe
2        Moby Dick  Herman Melville

Sorting using Pandas

In [5]:
import pandas as pd

In [7]:
df= pd.read_csv('bigmart_data.csv')
df.dropna()
df.iloc[7]                            #this can be used for substitute for head() method in Pandas library

Item_Identifier                          FDP10
Item_Weight                                NaN
Item_Fat_Content                       Low Fat
Item_Visibility                        0.12747
Item_Type                          Snack Foods
Item_MRP                               107.762
Outlet_Identifier                       OUT027
Outlet_Establishment_Year                 1985
Outlet_Size                             Medium
Outlet_Location_Type                    Tier 3
Outlet_Type                  Supermarket Type3
Item_Outlet_Sales                      4022.76
Name: 7, dtype: object

In [8]:
# Ascending Order
sort_df= df.sort_values(by=['Outlet_Establishment_Year'])     # sort_values(by=['column_name'], ascending= True/False, inplace= True/False) inplace if true it changes the original dataFrame into sorted DataFrame
print(sort_df)

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
4338           FDH21          NaN          Low Fat         0.031074
3689           FDD53          NaN          Low Fat         0.044008
1139           FDH26          NaN          Regular         0.034532
1138           FDM21          NaN          Low Fat         0.064052
3691           FDY36          NaN          Low Fat         0.016477
...              ...          ...              ...              ...
3600           FDX31        20.35          Regular         0.014886
5053           NCO53        16.20          Low Fat         0.175898
7710           NCR18        15.85          Low Fat         0.020571
5750           FDV26        20.25          Regular         0.076471
7378           FDJ26        15.30          Regular         0.085110

                  Item_Type  Item_MRP Outlet_Identifier  \
4338                Seafood  157.5604            OUT027
3689           Frozen Foods   43.7454            OUT027
1139                 Canned  142.2496            OUT027
1138            Snack Foods  256.1646            OUT027
3691           Baking Goods   74.3380            OUT019
...                     ...       ...               ...
3600  Fruits and Vegetables  234.4958            OUT018
5053     Health and Hygiene  183.7608            OUT018
7710              Household   41.6112            OUT018
5750                  Dairy  196.1794            OUT018
7378                 Canned  215.7218            OUT018

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
4338                       1985      Medium               Tier 3
3689                       1985      Medium               Tier 3
1139                       1985      Medium               Tier 3
1138                       1985      Medium               Tier 3
3691                       1985       Small               Tier 1
...                         ...         ...                  ...
3600                       2009      Medium               Tier 3
5053                       2009      Medium               Tier 3
7710                       2009      Medium               Tier 3
5750                       2009      Medium               Tier 3
7378                       2009      Medium               Tier 3

            Outlet_Type  Item_Outlet_Sales
4338  Supermarket Type3          5704.5744
3689  Supermarket Type3           671.1264
1139  Supermarket Type3          2399.5432
1138  Supermarket Type3          7472.2734
3691      Grocery Store           146.4760
...                 ...                ...
3600  Supermarket Type2          3271.7412
5053  Supermarket Type2          2940.1728
7710  Supermarket Type2           255.6672
5750  Supermarket Type2          2731.1116
7378  Supermarket Type2          1923.4962

[8523 rows x 12 columns]

In [ ]:
# Descending Order
df.sort_values(by=['Outlet_Establishment_Year'], ascending= False, inplace= True)
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
5371           FDC11       20.500  ...  Supermarket Type2          1427.4752
6389           FDR07       21.350  ...  Supermarket Type2           380.8376
2064           FDG50        7.405  ...  Supermarket Type2          1185.7898
3839           DRI37       15.850  ...  Supermarket Type2           703.0848
6392           FDO52       11.600  ...  Supermarket Type2          4277.7650
...              ...          ...  ...                ...                ...
5065           FDR09          NaN  ...  Supermarket Type3          8028.8822
3320           FDU32          NaN  ...  Supermarket Type3          4386.2904
6980           FDO46          NaN  ...  Supermarket Type3          2836.3080
6979           NCK17          NaN  ...      Grocery Store            79.8960
4187           FDE52          NaN  ...  Supermarket Type3          3453.5046

[8523 rows x 12 columns]

In [9]:
#sort_index() method sorts the dataFrame based on the index values of the DataFramem
df.sort_index()
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [10]:
#Sorting Mutliple columns
multi=df.sort_values(by=['Outlet_Establishment_Year', 'Item_Weight'])
multi.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
6705,FDA45,21.25,Low Fat,0.156013,Snack Foods,177.3370,OUT018,2009,Medium,Tier 3,Supermarket Type2,2822.9920
7158,NCX17,21.25,Low Fat,0.114066,Health and Hygiene,233.0300,OUT018,2009,Medium,Tier 3,Supermarket Type2,5592.7200
8221,NCO42,21.25,Low Fat,0.024756,Household,146.7102,OUT018,2009,Medium,Tier 3,Supermarket Type2,1603.9122
43,FDC02,21.35,Low Fat,0.069103,Canned,259.9278,OUT018,2009,Medium,Tier 3,Supermarket Type2,6768.5228
6389,FDR07,21.35,Low Fat,0.078061,Fruits and Vegetables,96.0094,OUT018,2009,Medium,Tier 3,Supermarket Type2,380.8376

In [11]:
multi.sort_values(by=['Outlet_Location_Type'])
multi

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
6705,FDA45,21.25,Low Fat,0.156013,Snack Foods,177.3370,OUT018,2009,Medium,Tier 3,Supermarket Type2,2822.9920
7158,NCX17,21.25,Low Fat,0.114066,Health and Hygiene,233.0300,OUT018,2009,Medium,Tier 3,Supermarket Type2,5592.7200
8221,NCO42,21.25,Low Fat,0.024756,Household,146.7102,OUT018,2009,Medium,Tier 3,Supermarket Type2,1603.9122
43,FDC02,21.35,Low Fat,0.069103,Canned,259.9278,OUT018,2009,Medium,Tier 3,Supermarket Type2,6768.5228
6389,FDR07,21.35,Low Fat,0.078061,Fruits and Vegetables,96.0094,OUT018,2009,Medium,Tier 3,Supermarket Type2,380.8376

Binning/ Discretization Using Pandas

In [12]:
import pandas as pd
data={'Title':['The Hobbit', 'Robinson Crusoe', 'Moby Dick'],
    'Author':['J.R.R. Tolkien', 'Daniel Defoe', 'Herman Melville']}
df= pd.DataFrame(data)
df

             Title           Author
0       The Hobbit   J.R.R. Tolkien
1  Robinson Crusoe     Daniel Defoe
2        Moby Dick  Herman Melville

In [13]:
df['new_col']= [9,25,13]         # Created a new column named new_col and assigned values as 10,20,30
df['bins']=pd.cut(x=df['new_col'], bins= [0,10,20,30])    # df['new_bin_column_name']=pd.cut(x=df['column_to_be_binned'], bins=[range of values])
df

             Title           Author  new_col      bins
0       The Hobbit   J.R.R. Tolkien        9   (0, 10]
1  Robinson Crusoe     Daniel Defoe       25  (20, 30]
2        Moby Dick  Herman Melville       13  (10, 20]

In [14]:
df['bins'].unique()
df.rename(columns={'new_col': 'Age'}, inplace= True)
df

             Title           Author  Age      bins
0       The Hobbit   J.R.R. Tolkien    9   (0, 10]
1  Robinson Crusoe     Daniel Defoe   25  (20, 30]
2        Moby Dick  Herman Melville   13  (10, 20]

In [15]:
# Create New Column of of decade With Labels 10s, 20s, and 30s
df['decade']= pd.cut(x=df['Age'], bins=[0,10,20,30], labels=['10s', '20s', '30s'])
df

             Title           Author  Age      bins decade
0       The Hobbit   J.R.R. Tolkien    9   (0, 10]    10s
1  Robinson Crusoe     Daniel Defoe   25  (20, 30]    30s
2        Moby Dick  Herman Melville   13  (10, 20]    20s

Handling Missing values in Pandas DataFrame

In [16]:
import pandas as pd
import numpy as np

In [23]:
df=pd.read_csv('bigmart_data.csv')
null=df.isna().sum()
print(null)             # we have 1463 na values in Item_Weight column and 2410 NA values in outlet_Size column

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [24]:
#we calculate the percantage of NA values in DataSet
total= np.product(df.shape)
print(total)
missing= null.sum()
percentage_NA= (missing/total)*100
print("The percentage of NA values in the DataSet given:", percentage_NA)       # There is 3.78% of NA values in the Dataset provided

102276
The percentage of NA values in the DataSet given: 3.786812155344362

In [25]:
#Fill the NA values with mean of the Dataset
mean_weight= df['Item_Weight'].mean()
Weight_mean=df['Item_Weight'].fillna(mean_weight, inplace= True)
#df['Outlet_Size'].dropna(how= 'any', inplace= True)
find_mode=df['Outlet_Size'].mode()
df['Outlet_Size'].fillna(find_mode, inplace=True)
df
print(df.isnull().sum())

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

Apply method in pandas

In [21]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving bigmart_data.csv to bigmart_data.csv

In [ ]:
data= pd.read_csv('bigmart_data.csv')
data.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [ ]:
%load_ext google.colab.data_table

In [ ]:
print("Apply method:\n")
print(data.apply(lambda x: x[0]))      # We are using the apply method to access to the 1st row of the dataset, Remember by deafult the apply method takes axis=0
print("\n")
print("traditional method:\n")
print(data.iloc[0])
print("Apply method:\n")
print(data.apply(lambda x: x[0], axis=1)) # here we are using teh apply method to access to the 1st column using index and mentioning the axis=1
print("traditional method:\n")
print(data.iloc[:,0])

Apply method:

Item_Identifier                          FDA15
Item_Weight                                9.3
Item_Fat_Content                       Low Fat
Item_Visibility                      0.0160473
Item_Type                                Dairy
Item_MRP                               249.809
Outlet_Identifier                       OUT049
Outlet_Establishment_Year                 1999
Outlet_Size                             Medium
Outlet_Location_Type                    Tier 1
Outlet_Type                  Supermarket Type1
Item_Outlet_Sales                      3735.14
dtype: object


traditional method:

Item_Identifier                          FDA15
Item_Weight                                9.3
Item_Fat_Content                       Low Fat
Item_Visibility                      0.0160473
Item_Type                                Dairy
Item_MRP                               249.809
Outlet_Identifier                       OUT049
Outlet_Establishment_Year                 1999
Outlet_Size                             Medium
Outlet_Location_Type                    Tier 1
Outlet_Type                  Supermarket Type1
Item_Outlet_Sales                      3735.14
Name: 0, dtype: object
Apply method:

0       FDA15
1       DRC01
2       FDN15
3       FDX07
4       NCD19
        ...
8518    FDF22
8519    FDS36
8520    NCJ29
8521    FDN46
8522    DRG01
Length: 8523, dtype: object
traditional method:

0       FDA15
1       DRC01
2       FDN15
3       FDX07
4       NCD19
        ...
8518    FDF22
8519    FDS36
8520    NCJ29
8521    FDN46
8522    DRG01
Name: Item_Identifier, Length: 8523, dtype: object

In [ ]:
print(data.apply(lambda x: x['Item_Type'], axis = 1))   # Here we are accessing the column using column name by using a apply method.

0                       Dairy
1                 Soft Drinks
2                        Meat
3       Fruits and Vegetables
4                   Household
                ...
8518              Snack Foods
8519             Baking Goods
8520       Health and Hygiene
8521              Snack Foods
8522              Soft Drinks
Length: 8523, dtype: object

In [ ]:
data.apply(lambda x:x)

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [ ]:
# In apply() even conditions can be added to the dataset as it can iterate through all observations in the DataFrame
print("before clipping\n",data['Item_MRP'][:5])
def clip(price):
  if price>200:
    price=200
  return price

print(data['Item_MRP'].apply(lambda x: clip(x))[:5])

before clipping
 0    249.8092
1     48.2692
2    141.6180
3    182.0950
4     53.8614
Name: Item_MRP, dtype: float64
0    200.0000
1     48.2692
2    141.6180
3    182.0950
4     53.8614
Name: Item_MRP, dtype: float64

In [ ]:
# Labeling the values of the categorical data can be done in apply()
print(data['Outlet_Location_Type'].unique())
def labeling(city):
  if city== 'Tier 1':     # we have labelled tier 1 as 0
    label=  0
  elif city== 'Tier 2':   # we have labelled tier 2 as 1
    label= 1
  else:                   # we have labelled tier 3 as 2
    label= 2
  return label

print(data['Outlet_Location_Type'].apply(lambda x: labeling(x)))

['Tier 1' 'Tier 3' 'Tier 2']
0       0
1       2
2       0
3       2
4       2
       ..
8518    2
8519    1
8520    1
8521    2
8522    0
Name: Outlet_Location_Type, Length: 8523, dtype: int64

In [ ]:
print(data['Outlet_Size'].unique())

['Medium' nan 'High' 'Small']

In [ ]:
# Labelling Outlet_Size column
print(data['Outlet_Size'].unique())
def label_Outlet_Size(size):
  if size== 'Small':
    label=0
  elif size== 'Medium':
    label=2
  elif size== 'High':
    label=3
  else:
    label=size
  return label

labelled_osize=data['Outlet_Size'].apply(lambda x: label_Outlet_Size(x))
print(labelled_osize)
labelled_osize.isna().sum()
mean_osize= labelled_osize.mean()
print("Mean:", mean_osize)
labelled_osize.fillna(mean_osize, inplace= True)
print(labelled_osize)

['Medium' nan 'High' 'Small']
0       2.0
1       2.0
2       2.0
3       NaN
4       3.0
       ...
8518    3.0
8519    NaN
8520    0.0
8521    2.0
8522    0.0
Name: Outlet_Size, Length: 8523, dtype: float64
Mean: 1.3711761819074104
0       2.000000
1       2.000000
2       2.000000
3       1.371176
4       3.000000
          ...
8518    3.000000
8519    1.371176
8520    0.000000
8521    2.000000
8522    0.000000
Name: Outlet_Size, Length: 8523, dtype: float64