<a href="https://colab.research.google.com/github/Mithun162001/Data-Quest/blob/main/Data_Quest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Name:- Mithun G

USN:- 19BTRCR006
 
Branch:- Data Science

Semester:- 3rd SEM

Mail ID:- mithun162001@gmail.com

College:- School of Engineering and technology, Jain University

In [ ]:
# importing libraries
import numpy as np
import pandas as pd

Uploading the file into Colab directory to drive

In [ ]:
from google.colab import files
uploaded= files.upload()

Saving global_terror.csv to global_terror (1).csv

Reading the csv file into a Pandas dataframe

In [ ]:
data= pd.read_csv('global_terror (1).csv')
data.head()   # To display the first five observations of the dataframe

   iyear  imonth  iday  country  ... weaptype1_txt  nkill propextent propextent_txt
0   1970       7     2       58  ...       Unknown    1.0        NaN            NaN
1   1970       0     0      130  ...       Unknown    0.0        NaN            NaN
2   1970       1     0      160  ...       Unknown    1.0        NaN            NaN
3   1970       1     0       78  ...    Explosives    NaN        NaN            NaN
4   1970       1     0      101  ...    Incendiary    NaN        NaN            NaN

[5 rows x 23 columns]

To see the number of observations and the columns

In [ ]:
data.shape        # from the output it is clear that we have toal of 191464 observations and 23 columns

(191464, 23)

To see the what are the columns we are having in this dataframe

In [ ]:
data.columns

Index(['iyear', 'imonth', 'iday', 'country', 'country_txt', 'region',
       'region_txt', 'provstate', 'city', 'latitude', 'longitude',
       'attacktype1', 'attacktype1_txt', 'targtype1', 'targtype1_txt',
       'natlty1', 'natlty1_txt', 'natlty2', 'weaptype1', 'weaptype1_txt',
       'nkill', 'propextent', 'propextent_txt'],
      dtype='object')

To check whether there are any missing values are present in the dataframe

In [ ]:
null_data=data.isna().sum()
null_data
# from the output it is clear that we have some NA values in teh provstate, city, latitude, longitude, natlty1, natlty1_txt, natlty2, nkill, propextent, propextent_text columns
# the numbers in the output are the total number of missing values present in that column

iyear                   0
imonth                  0
iday                    0
country                 0
country_txt             0
region                  0
region_txt              0
provstate               2
city                  426
latitude             4580
longitude            4581
attacktype1             0
attacktype1_txt         0
targtype1               0
targtype1_txt           0
natlty1              1722
natlty1_txt          1722
natlty2            179585
weaptype1               0
weaptype1_txt           0
nkill               11029
propextent         124178
propextent_txt     124178
dtype: int64

We calculate the percentage of NA values present in dataframe

In [ ]:
total= np.product(data.shape)     # this gives the total number of values present in the entire data frame
missing= null_data.sum()          # this gives the number of missing values present in the entire dataset
percentage= (missing/total)/100   # percentage is calculated
print("Percentage of NA values present in dataset is ", percentage)

# from the output it is clear that there are only small number of missing values present if we consider the entire dataset

Percentage of NA values present in dataset is  0.0010264229488481432

**Handling missing Values**

In [ ]:
# Checking whether the columns having missing values are Numerical or Catergorical
print(data['provstate'].dtype)        # Categorical
print(data['city'].dtype)             # Categorical
print(data['latitude'].dtype)         # Numerical
print(data['longitude'].dtype)        # Numerical
print(data['natlty1'].dtype)          # Numerical
print(data['natlty1_txt'].dtype)      # Categorical
print(data['natlty2'].dtype)          # Numerical
print(data['nkill'].dtype)            # Numerical
print(data['propextent'].dtype)       # Numerical
print(data['propextent_txt'].dtype)   # Categorical

object
object
float64
float64
float64
object
float64
float64
float64
object

In [ ]:
# Since 'natlty2' has more NA values we will look into it
print(data['natlty2'].unique())
print(data['natlty2'].skew())

[  nan  217.  233.  161.  422.  216.   97.   30.  144.  142.   92.  218.
  605.  130.   96.  185.   45.  145.  100.   98.   61.  110.   94.   59.
  359.  201.  173.   83.   51.   21.  199.  209.   38.   95.   69.   60.
  160.  231.  101.   75.  235.   11.   43.  159.  163.  999.  155.  153.
  183.   15.  143.  113.  186.  162.   65.  603.  200.  122.  208.    4.
  157.   47.  362.  213.   89.  203.   36.  112.  167.   14.  106.  104.
  179.  166.    6.   78.  197.  156.  198.   87.   84.  123.  151.   42.
  124.  168.   53.   19.  102.  205.   81.   93.  177.  222.   55.   74.
   44.  228.   34.    8.  229.    5.  175. 1003.  219.  195.   28.   26.
   35.  141.  139.  107.   50.   12.  147.  202.   22.   16.  121.  204.
   67.   99.  108.  182.  137.  174.  184.  103.  118.   32.  138.   86.
   88.  114.  223.  136.  146.  334.  207.   62.   63.   41.  214.   90.
  119. 1004.   18.   54.  158.   37.  206.   56.  111.   33.  164.   76.
  238.  215.    7.]
4.3248560019563005

Since there are only few values in the column 'natlty2' and it's not acting as any use to the dataset we can drop this column. Even mean or any central tendency tools cannot be applied on this column as there is a lot of skewness in this column....

In [ ]:
# we will have a copy of original dataset into another dataframe
data_copy= data
data_copy.head()

   iyear  imonth  iday  country  ... weaptype1_txt  nkill propextent propextent_txt
0   1970       7     2       58  ...       Unknown    1.0        NaN            NaN
1   1970       0     0      130  ...       Unknown    0.0        NaN            NaN
2   1970       1     0      160  ...       Unknown    1.0        NaN            NaN
3   1970       1     0       78  ...    Explosives    NaN        NaN            NaN
4   1970       1     0      101  ...    Incendiary    NaN        NaN            NaN

[5 rows x 23 columns]

We will be dropping the natlty2 column

In [ ]:
data_copy= data_copy.drop('natlty2', axis=1)
data_copy.head()

   iyear  imonth  iday  country  ... weaptype1_txt  nkill propextent propextent_txt
0   1970       7     2       58  ...       Unknown    1.0        NaN            NaN
1   1970       0     0      130  ...       Unknown    0.0        NaN            NaN
2   1970       1     0      160  ...       Unknown    1.0        NaN            NaN
3   1970       1     0       78  ...    Explosives    NaN        NaN            NaN
4   1970       1     0      101  ...    Incendiary    NaN        NaN            NaN

[5 rows x 22 columns]

In [ ]:
data_copy.isna().sum()

iyear                   0
imonth                  0
iday                    0
country                 0
country_txt             0
region                  0
region_txt              0
provstate               2
city                  426
latitude             4580
longitude            4581
attacktype1             0
attacktype1_txt         0
targtype1               0
targtype1_txt           0
natlty1              1722
natlty1_txt          1722
weaptype1               0
weaptype1_txt           0
nkill               11029
propextent         124178
propextent_txt     124178
dtype: int64

Now we will check the provstate column

In [ ]:
print(data_copy['provstate'].unique())
print(data_copy['provstate'].isna().sum())

['National' 'Federal' 'Tarlac' ... 'Cascades' 'Madaba' 'West']
2

In [ ]:
data_mode= data_copy['provstate'].mode().values[0]
data_mode

'Baghdad'

In [ ]:
data_copy['provstate'].fillna(value= data_mode, inplace= True)

In [ ]:
data_copy.isna().sum()          # we can see that provstate has now 0 NA values

iyear                   0
imonth                  0
iday                    0
country                 0
country_txt             0
region                  0
region_txt              0
provstate               0
city                  426
latitude             4580
longitude            4581
attacktype1             0
attacktype1_txt         0
targtype1               0
targtype1_txt           0
natlty1              1722
natlty1_txt          1722
weaptype1               0
weaptype1_txt           0
nkill               11029
propextent         124178
propextent_txt     124178
dtype: int64

Now we will check the city column

In [ ]:
print(data_copy['city'].unique())
print(data_copy['city'].isna().sum())

['Santo Domingo' 'Mexico city' 'Unknown' ... 'Khar Tangi' 'Sorkhi Sang'
 'Dik Sar']
426

In [ ]:
data_mode1= data_copy['city'].mode().values[0]
data_mode1

'Unknown'

In [ ]:
data_copy['city'].fillna(value= data_mode1, inplace= True)
data_copy.isna().sum()      # now even the city column has 0 NA values

iyear                   0
imonth                  0
iday                    0
country                 0
country_txt             0
region                  0
region_txt              0
provstate               0
city                    0
latitude             4580
longitude            4581
attacktype1             0
attacktype1_txt         0
targtype1               0
targtype1_txt           0
natlty1              1722
natlty1_txt          1722
weaptype1               0
weaptype1_txt           0
nkill               11029
propextent         124178
propextent_txt     124178
dtype: int64

Now we will check with the latitude column

In [ ]:
print(data_copy['latitude'].unique())
print(data_copy['latitude'].isna().sum())

[18.456792 19.371887 15.478598 ... 36.057119 36.22929  31.639085]
4580

In [ ]:
data_mean= data_copy['latitude'].mean()
data_mean

23.46212053553783

In [ ]:
data_copy['latitude'].fillna(value= data_mean, inplace= True)
data_copy.isna().sum()      # now even the latitude column has 0 NA values by replacing with mean of the values

iyear                   0
imonth                  0
iday                    0
country                 0
country_txt             0
region                  0
region_txt              0
provstate               0
city                    0
latitude                0
longitude               0
attacktype1             0
attacktype1_txt         0
targtype1               0
targtype1_txt           0
natlty1              1722
natlty1_txt          1722
weaptype1               0
weaptype1_txt           0
nkill               11029
propextent         124178
propextent_txt     124178
dtype: int64

Now we will check the longitude column

In [ ]:
print(data_copy['longitude'].unique())
print(data_copy['longitude'].isna().sum())

[-69.951164 -99.086624 120.599741 ...  64.845477  65.460288  64.243436]
4581

In [ ]:
data_mean1= data_copy['longitude'].mean()
data_mean1

28.90212643654844

In [ ]:
data_copy['longitude'].fillna(value= data_mean1, inplace= True)
data_copy.isna().sum()      # now even the longitude column has 0 NA values by replacing with mean of the values

iyear                   0
imonth                  0
iday                    0
country                 0
country_txt             0
region                  0
region_txt              0
provstate               0
city                    0
latitude                0
longitude               0
attacktype1             0
attacktype1_txt         0
targtype1               0
targtype1_txt           0
natlty1              1722
natlty1_txt          1722
weaptype1               0
weaptype1_txt           0
nkill               11029
propextent         124178
propextent_txt     124178
dtype: int64

Now let's see natlty1_txt column

In [ ]:
print(data_copy['natlty1_txt'].unique())
print(data_copy['natlty1_txt'].isna().sum())

['Dominican Republic' 'Belgium' 'United States' 'Uruguay' 'Germany'
 'Great Britain' 'Venezuela' 'Puerto Rico' 'Israel' 'Austria'
 'Switzerland' 'Jordan' 'Ethiopia' 'Spain' nan 'Japan' 'International'
 'Egypt' 'Paraguay' 'Soviet Union' 'Ireland' 'Argentina' 'Philippines'
 'China' 'West Bank and Gaza Strip' 'Multinational' 'Northern Ireland'
 'Brazil' 'Haiti' 'South Africa' 'Portugal' 'Colombia' 'Greece'
 'Nicaragua' 'Indonesia' 'Yugoslavia' 'Italy' 'Rhodesia' 'Ivory Coast'
 'Iran' 'Canada' 'Poland' 'Sweden' 'Turkey' 'Costa Rica' 'Russia' 'Iraq'
 'Cuba' 'France' 'Malawi' 'Democratic Republic of the Congo' 'Netherlands'
 'Chile' 'Hong Kong' 'Yemen' 'Mexico' 'Syria' 'India' 'New Zealand'
 'Senegal' 'Algeria' 'Peru' 'Czechoslovakia' 'Saudi Arabia' 'Denmark'
 'West Germany (FRG)' 'Bahamas' 'Bolivia' 'El Salvador' 'Botswana'
 'Guatemala' 'Lebanon' 'North Korea' 'Albania' 'South Korea'
 'United Kingdom' 'Pakistan' 'Kenya' 'Cyprus' 'Panama' 'Sri Lanka'
 'Ecuador' 'Malaysia' 'Morocco' 'Somalia' 'Nigeria' 'Namibia' 'Armenia'
 'Barbados' 'Kuwait' 'Mozambique' 'Guyana' 'Taiwan' 'Tunisia' 'Myanmar'
 'Trinidad and Tobago' 'Mauritania' 'Bulgaria' 'Thailand' 'Bahrain'
 'Finland' 'Vietnam' 'United Arab Emirates' 'Malta' 'Australia' 'Zimbabwe'
 'Zambia' 'Angola' 'Norway' 'Jamaica' 'Uganda' 'Croatia' 'Lesotho'
 'Tanzania' 'Guinea' 'Fiji' 'Djibouti' 'Libya' 'Eritrea' 'Afghanistan'
 'Honduras' 'Zaire' 'Mali' 'Bangladesh' 'Grenada' 'Vanuatu' 'Belize'
 'North Yemen' 'Romania' 'Sudan' 'Chad' 'Central African Republic'
 'Liberia' 'Seychelles' 'Dominica' "People's Republic of the Congo"
 'Comoros' 'Suriname' 'Vatican City' 'Lithuania' 'Guadeloupe' 'Martinique'
 'Western Sahara' 'Swaziland' 'Burkina Faso' 'Man, Isle of'
 'New Caledonia' 'Cambodia' 'Singapore' 'Corsica' 'Luxembourg' 'Niger'
 'Nepal' 'Hungary' 'Togo' 'Iceland' 'Sinhalese' 'Ghana' 'Maldives'
 'Mauritius' 'Papua New Guinea' 'Qatar' 'Rwanda' 'Cameroon' 'Estonia'
 'Sierra Leone' 'Latvia' 'Greenland' 'Bosnia-Herzegovina' 'Madagascar'
 'Burundi' 'Azerbaijan' 'Kazakhstan' 'Georgia' 'Antigua and Barbuda'
 'Commonwealth of Independent States' 'Ukraine' 'Moldova'
 'Equatorial Guinea' 'Tajikistan' 'Laos' 'Brunei' 'Uzbekistan'
 'Serbia-Montenegro' 'Republic of the Congo' 'Gabon' 'Slovak Republic'
 'Macedonia' 'Mongolia' 'Benin' 'Belarus' 'Oman' 'Czech Republic' 'Gambia'
 'Asian' 'Serbia' 'St. Kitts and Nevis' 'Kyrgyzstan' 'Macau' 'Slovenia'
 'French Guiana' 'East Timor' 'Kosovo' 'Solomon Islands' 'St. Lucia'
 'Guinea-Bissau' 'Montenegro' 'Bhutan' 'Bermuda' 'St. Martin'
 'South Sudan' 'Turkmenistan' 'Saba (Netherlands Antilles)' 'Tuvalu'
 'Virgin Islands (U.S.)' 'Marshall Islands']
1722

In [ ]:
data_mode2= data_copy['natlty1_txt'].mode().values[0]
data_mode2

'Iraq'

In [ ]:
data_copy['natlty1_txt'].fillna(value= data_mode2, inplace= True)
data_copy.isna().sum()      # now even the natlty1_txt column has 0 NA values by replacing with mean of the values

iyear                   0
imonth                  0
iday                    0
country                 0
country_txt             0
region                  0
region_txt              0
provstate               0
city                    0
latitude                0
longitude               0
attacktype1             0
attacktype1_txt         0
targtype1               0
targtype1_txt           0
natlty1                 0
natlty1_txt             0
weaptype1               0
weaptype1_txt           0
nkill               11029
propextent         124178
propextent_txt     124178
dtype: int64

Since the mode of ntalty_txt is Iraq then ntalty value also should be value labelled for Iraq

In [ ]:
selected= data[data['natlty1_txt'] == 'Iraq']
selected['natlty1'].values[0]    # which means Iraq is labelled as 95.0 which is the mode of the ntalty_txt

95.0

In [ ]:
data_copy['natlty1'].fillna(value= selected['natlty1'].values[0] , inplace= True)
data_copy.isna().sum()      # now even the natlty1 column has 0 NA values by replacing with mean of the values

iyear                   0
imonth                  0
iday                    0
country                 0
country_txt             0
region                  0
region_txt              0
provstate               0
city                    0
latitude                0
longitude               0
attacktype1             0
attacktype1_txt         0
targtype1               0
targtype1_txt           0
natlty1                 0
natlty1_txt             0
weaptype1               0
weaptype1_txt           0
nkill               11029
propextent         124178
propextent_txt     124178
dtype: int64

Now we will look into nkill column

In [ ]:
print(data_copy['nkill'].unique())
print(data_copy['nkill'].isna().sum())

[1.000e+00 0.000e+00       nan 7.000e+00 4.700e+01 2.000e+00 3.600e+01
 5.000e+00 3.000e+00 4.000e+00 2.500e+01 1.500e+01 2.600e+01 8.000e+00
 8.100e+01 6.000e+00 9.000e+00 1.600e+01 3.000e+01 3.100e+01 1.200e+01
 2.100e+01 1.400e+01 8.800e+01 1.100e+01 1.000e+01 2.700e+01 1.800e+01
 2.200e+01 1.900e+01 9.200e+01 1.300e+01 7.300e+01 1.000e+02 4.200e+01
 4.300e+01 1.700e+01 9.800e+01 4.220e+02 4.800e+01 3.400e+01 5.400e+01
 5.000e+01 3.500e+01 2.000e+01 4.100e+01 3.700e+01 2.800e+01 4.000e+01
 3.200e+01 8.500e+01 2.300e+01 3.000e+02 6.000e+01 2.400e+01 5.800e+01
 7.000e+01 8.700e+01 4.500e+01 3.800e+01 2.900e+01 7.400e+01 8.300e+01
 9.000e+01 6.600e+01 8.000e+01 6.700e+01 5.100e+01 3.900e+01 1.140e+02
 1.240e+02 7.600e+01 3.300e+01 7.500e+01 5.700e+01 6.200e+01 4.600e+01
 5.600e+01 6.300e+01 1.200e+02 1.020e+02 7.800e+01 7.900e+01 5.200e+01
 7.700e+01 2.000e+02 4.900e+01 1.110e+02 1.650e+02 4.400e+01 2.410e+02
 6.400e+01 1.080e+02 6.500e+01 1.320e+02 2.700e+02 2.280e+02 1.100e+02
 1.360e+02 1.800e+02 2.500e+02 9.300e+01 1.300e+02 5.900e+01 9.400e+01
 5.300e+01 1.460e+02 3.290e+02 9.700e+01 7.100e+01 2.400e+02 2.270e+02
 1.260e+02 1.060e+02 3.880e+02 6.800e+01 8.400e+01 8.200e+01 1.710e+02
 1.070e+02 5.500e+01 1.120e+02 7.200e+01 9.600e+01 1.400e+02 6.100e+01
 1.050e+02 1.500e+02 1.150e+02 8.900e+01 1.180e+03 1.700e+02 1.680e+02
 1.210e+02 3.750e+02 9.100e+01 3.040e+02 1.230e+02 1.350e+02 2.560e+02
 1.090e+02 2.710e+02 2.060e+02 1.040e+02 3.200e+02 2.750e+02 2.240e+02
 1.180e+02 1.290e+02 9.500e+01 2.590e+02 1.385e+03 1.900e+02 1.190e+02
 1.010e+02 1.160e+02 5.180e+02 3.440e+02 1.600e+02 1.880e+02 1.030e+02
 2.050e+02 1.450e+02 1.530e+02 1.270e+02 6.900e+01 1.410e+02 1.340e+02
 4.000e+02 8.600e+01 1.840e+02 2.100e+02 1.420e+02 2.120e+02 2.870e+02
 3.150e+02 1.510e+02 6.700e+02 1.570e+03 3.100e+02 2.980e+02 9.530e+02
 5.170e+02 2.010e+02 1.220e+02 1.580e+02 1.170e+02 1.440e+02 2.080e+02
 1.520e+02 2.300e+02 2.800e+02 1.740e+02 1.430e+02 3.830e+02 2.830e+02
 1.540e+02 2.840e+02 4.330e+02 2.660e+02 1.330e+02 1.630e+02 1.280e+02
 5.880e+02 3.110e+02 3.300e+02 4.660e+02 3.390e+02]
11029

In [ ]:
data_mean3= data_copy['nkill'].mean()
data_mean3

2.4107351677889546

In [ ]:
data_copy['nkill'].fillna(value= data_mean3, inplace= True)
data_copy.isna().sum()      # now even the nkill column has 0 NA values by replacing with mean of the values

iyear                   0
imonth                  0
iday                    0
country                 0
country_txt             0
region                  0
region_txt              0
provstate               0
city                    0
latitude                0
longitude               0
attacktype1             0
attacktype1_txt         0
targtype1               0
targtype1_txt           0
natlty1                 0
natlty1_txt             0
weaptype1               0
weaptype1_txt           0
nkill                   0
propextent         124178
propextent_txt     124178
dtype: int64

Now we will look into propextent

In [ ]:
print(data_copy['propextent_txt'].unique())
print(data_copy['propextent_txt'].isna().sum())

[nan 'Minor (likely < $1 million)'
 'Major (likely >= $1 million but < $1 billion)' 'Unknown'
 'Catastrophic (likely >= $1 billion)']
124178

In [ ]:
data_mode3= data_copy['propextent_txt'].mode().values[0]
data_mode3

'Minor (likely < $1 million)'

In [ ]:
data_copy['propextent_txt'].fillna(value= data_mode3, inplace= True)
data_copy.isna().sum()      # now even the propextent_txt column has 0 NA values by replacing with mean of the values

iyear                   0
imonth                  0
iday                    0
country                 0
country_txt             0
region                  0
region_txt              0
provstate               0
city                    0
latitude                0
longitude               0
attacktype1             0
attacktype1_txt         0
targtype1               0
targtype1_txt           0
natlty1                 0
natlty1_txt             0
weaptype1               0
weaptype1_txt           0
nkill                   0
propextent         124178
propextent_txt          0
dtype: int64

Now we will look into propextent

In [ ]:
selected1= data[data['propextent_txt'] == 'Minor (likely < $1 million)']
selected1['propextent'].values[0]    # which means Minor (likely < $1 million) is labelled as 3.0 which is the mode of the propextent_txt

3.0

In [ ]:
data_copy['propextent'].fillna(value= selected['propextent'].values[0] , inplace= True)
data_copy.isna().sum()      # now even the propextent column has 0 NA values by replacing with mean of the values

iyear              0
imonth             0
iday               0
country            0
country_txt        0
region             0
region_txt         0
provstate          0
city               0
latitude           0
longitude          0
attacktype1        0
attacktype1_txt    0
targtype1          0
targtype1_txt      0
natlty1            0
natlty1_txt        0
weaptype1          0
weaptype1_txt      0
nkill              0
propextent         0
propextent_txt     0
dtype: int64

All Missing values are handled finally, there are no missing values present in the dataset now

In [ ]:
data_copy.head()

   iyear  imonth  iday  ...     nkill propextent               propextent_txt
0   1970       7     2  ...  1.000000        3.0  Minor (likely < $1 million)
1   1970       0     0  ...  0.000000        3.0  Minor (likely < $1 million)
2   1970       1     0  ...  1.000000        3.0  Minor (likely < $1 million)
3   1970       1     0  ...  2.410735        3.0  Minor (likely < $1 million)
4   1970       1     0  ...  2.410735        3.0  Minor (likely < $1 million)

[5 rows x 22 columns]