<a href="https://colab.research.google.com/github/Mithun162001/Descriptive-stats-in-Pandas/blob/main/Basic_Descriptive_Stats_using_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data={'name': ['Kunal', 'Ankit', 'Purva', 'Pranav', 'Sunil'],       #Creating a dictionary to add this to a dataframe
        'age': [42, 52, 36, 24, 73], 
        'TestScore_1': [4, 24, 31, 2, 3],
        'TestScore_2': [25, 94, 57, 62, 70]}
print(data)

{'name': ['Kunal', 'Ankit', 'Purva', 'Pranav', 'Sunil'], 'age': [42, 52, 36, 24, 73], 'TestScore_1': [4, 24, 31, 2, 3], 'TestScore_2': [25, 94, 57, 62, 70]}

In [ ]:
df=pd.DataFrame(data)                 # Dictionary data is passed into DataFrame object, hence dictionary keys have become the column_names of the DataFrame and the values in the
df                                    # respective keys have become the values of the respective columns in the DataFrame

     name  age  TestScore_1  TestScore_2
0   Kunal   42            4           25
1   Ankit   52           24           94
2   Purva   36           31           57
3  Pranav   24            2           62
4   Sunil   73            3           70

TO calculate the sum of all ages(sum of the particular column of the dataset)

In [ ]:
# TO calculate the sum of all ages(sum of the particular column of the dataset)
print("The sum of the ages of everyone is:", df['age'].sum())         #df['column_name'].sum() is used to calculate the sum of the values of the particular column

The sum of the ages of everyone is: 227

TO calculate the Mean **TestScore_1**

In [ ]:
# TO calculate the Mean TestScore_1
mean_TS= df['TestScore_1'].mean()                       # df['column_name'].mean() is used to calculate the mean of the values of the selected column
print("Mean TestScore_1 is",mean_TS)

Mean TestScore_1 is 12.8

Cumulative sum of TestScore_1s, moving from the rows from the top

In [ ]:
cumulative= df['TestScore_1'].cumsum()                # df['column_name'].cumsum() is used to find the cumulative frequency of the values of a column
print("Cumulative Frequency of TestSCore_1:\n", cumulative)

Cumulative Frequency of TestSCore_1:
 0     4
1    28
2    59
3    61
4    64
Name: TestScore_1, dtype: int64

Summary statistics on TestScore_1

In [ ]:
df['TestScore_1'].describe()                       # df['column_name'].describe() gives the summary of the selected column

count     5.000000
mean     12.800000
std      13.663821
min       2.000000
25%       3.000000
50%       4.000000
75%      24.000000
max      31.000000
Name: TestScore_1, dtype: float64

Count the number of non-NA values

In [ ]:
df['TestScore_1'].count()                       # df['column_name'].count() gives the number of non-NaN values in the selected column

5

Minimum value of TestScore_1

In [ ]:
df['TestScore_1'].min()

2

Maximum value of TestScore_1

In [ ]:
df['TestScore_1'].max()

31

Median value of TestScore_1

In [ ]:
df['TestScore_1'].median()

4.0

Sample variance of TestScore_1 values

In [ ]:
df['TestScore_1'].var()

186.7

Sample standard deviation of TestScore_1 values

In [ ]:
df['TestScore_1'].std()

13.663820841916802

Skewness of preTestScore values

In [ ]:
df['TestScore_1'].skew()

0.7433452457326751

Kurtosis of TestScore_1 values

In [ ]:
df['TestScore_1'].kurt()

-2.4673543738411547

Correlation Matrix Of Values

In [ ]:
df[['TestScore_1','TestScore_2']].corr()

             TestScore_1  TestScore_2
TestScore_1     1.000000     0.378039
TestScore_2     0.378039     1.000000

Covariance Matrix Of Values

In [ ]:
df.cov()

                age  TestScore_1  TestScore_2
age          340.80       -26.65       151.20
TestScore_1  -26.65       186.70       128.65
TestScore_2  151.20       128.65       620.30